In [1]:
import pandas as pd
%matplot inline

In [2]:
path = r'fakedata.csv'
df = pd.read_csv(path)

In [3]:
print(df.head())

   UID     Name         Type    Money
0    0   Elioto        Outro  6809.32
1    1     Dede  Combustivel  9885.35
2    2   Hermes  Alimentacao  2589.81
3    3  Faustao   Transporte  8764.46
4    4  Faustao  Alimentacao  5953.35

In [6]:
df.set_index('UID', inplace=True)
df.to_csv('newcsv.csv')

In [10]:
df = pd.read_csv(r'newcsv.csv', index_col=0)
print(df.head())

        Name         Type    Money
UID
0     Elioto        Outro  6809.32
1       Dede  Combustivel  9885.35
2     Hermes  Alimentacao  2589.81
3    Faustao   Transporte  8764.46
4    Faustao  Alimentacao  5953.35

In [14]:
df.columns = ['NAME', 'TYPE', 'MONEY']
print(df.head())

        NAME         TYPE    MONEY
UID
0     Elioto        Outro  6809.32
1       Dede  Combustivel  9885.35
2     Hermes  Alimentacao  2589.81
3    Faustao   Transporte  8764.46
4    Faustao  Alimentacao  5953.35